<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로그 패턴 설정 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <springProfile name="default">
        <!-- INFO 레벨 로그를 위한 Appender -->
        <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 로그 파일 경로 -->
            <file>/logs/info.log</file>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
            <!-- 로그 파일 롤링 정책 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 로그 파일 이름 패턴 -->
                <fileNamePattern>/logs/info.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 최대 보관 기간 (30일) -->
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <!-- 로그 레벨 필터 -->
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <!-- WARN 레벨 로그를 위한 Appender -->
        <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 로그 파일 경로 -->
            <file>/logs/warn.log</file>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
            <!-- 로그 파일 롤링 정책 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 로그 파일 이름 패턴 -->
                <fileNamePattern>/logs/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 최대 보관 기간 (30일) -->
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <!-- 로그 레벨 필터 -->
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>WARN</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <!-- ERROR 레벨 로그를 위한 Appender -->
        <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 로그 파일 경로 -->
            <file>/logs/error.log</file>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
            <!-- 로그 파일 롤링 정책 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 로그 파일 이름 패턴 -->
                <fileNamePattern>/logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 최대 보관 기간 (30일) -->
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <!-- 로그 레벨 필터 -->
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <!-- 루트 로거 설정 -->
        <root level="INFO">
            <appender-ref ref="INFO_FILE" />
            <appender-ref ref="WARN_FILE" />
            <appender-ref ref="ERROR_FILE" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>